.faq_div {
  width: 70vw;
  height: 110vh;
  margin: auto;
}

.faq_topic {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 4px;
  color: #ff5555;
}

.faq_sub_topic {
  font-size: 3em;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 3vh;
  width: 40%;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 3rem;
}

.faq-item {
  height: 90%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.faq-item p {
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

.faq-item.highlight {
  background-color: #ff5e5e;
  color: #fff;
}

@media (max-width: 768px) {
  .faq_div {
    width: 100vw;
    height: fit-content;
    padding-left: 1vw;
  }

  .faq_topic {
    font-size: 1em;
  }

  .faq_sub_topic {
    width: 100vw;
    font-size: 2em;
  }

  .faq-item h2 {
    font-size: 1.5em;
  }

  .faq-grid {
    width: 98%;
    grid-template-columns: 1fr;
  }

  .faq-item:nth-child(odd) {
    background-color: #ff5e5e;
    color: #fff;
  }

  .faq-item:nth-child(even) {
    background-color: #fff;
    color: #000;
  }
}
