.navbar_div {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.47);
  backdrop-filter: blur(100px);
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4.5vh;
  font-weight: 500;
  z-index: 1;
}

.logo_container {
  width: 12%;
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 600;
}

.logo_container a {
  text-decoration: none;
  color: black;
}

.nav_items {
  width: 30%;
  display: flex;
  align-items: center;
}

.nav_list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.nav_toggle {
  width: 20%;
}

.down_btn {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.nav_list a {
  text-decoration: none;
  color: black;
}

.nav_list a:hover,
.nav_list a.active {
  color: #ff5555;
  font-weight: 700;
  cursor: pointer;
}

#nav_toggle_btn,
.close_nav {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav_toggle_btn,
  .close_nav {
    display: block;
  }

  .navbar_div {
    width: 98vw;
    margin: 0;
    justify-content: space-evenly;
    /* position: relative; */
  }

  .logo_container {
    width: 40%;
  }

  .nav_items {
    flex-direction: column;
    width: 65%;
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top right;
    background-color: #ff5555;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.616);
    z-index: 1;
    overflow: hidden;
  }

  .nav_list {
    width: 100%;
    flex-direction: column;
    row-gap: 5rem;
    font-size: 1.3rem;
    padding: 4rem;
  }

  .close_nav {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
  }

  .nav_toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 1.5rem;
  }

  .down_btn {
    width: 70%;
    height: 60%;
  }

  .show_menu {
    transform: scale(1);
  }

  .nav_list a:hover {
    color: black;
  }

  .nav_list a.active {
    color: black;
  }
}
