.footer {
  width: 70vw;
  margin: auto;
  height: 100%;
  margin: 0 auto;
  padding: 2% 5%;
  box-sizing: border-box;
  background-color: #fff;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2%;
}
.footer-logo {
  margin-right: 2vw;
}
.logo {
  font-size: 2.2em;
  font-weight: 700;
}

.f_help {
  width: 100%;
  display: flex;
  column-gap: 5px;
  margin: 1vh 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1em;
}

.footer-links,
.footer-legal,
.footer-product {
  flex: 1 1 15%;
}

.footer-links h2,
.footer-legal h2,
.footer-product h2,
.footer-newsletter h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.footer-links ul,
.footer-legal ul,
.footer-product ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-legal li,
.footer-product li {
  margin: 0.5em 0;
  font-size: 1em;
}

.footer-newsletter {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
}

.footer-newsletter h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.footer-newsletter p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.footer-newsletter input {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.footer-newsletter button {
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 2%;
  border-top: 1px solid #ccc;
  padding-top: 1%;
}

.footer-bottom p {
  margin: 0;
  font-size: 1em;
}

@media (max-width: 768px) {
  .footer {
    width: 100vw;
    height: fit-content;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  .footer-logo,
  .footer-links,
  .footer-legal,
  .footer-product,
  .footer-newsletter {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 1em;
  }

  .footer-logo .logo-img {
    width: 2.5em;
  }

  .footer-newsletter {
    grid-column: 1/ 3;
  }

  .footer-newsletter input,
  .footer-newsletter button {
    width: 100%;
  }
}
